{% extends 'layout.html' %}
{% block content %}

    <h3>Available commands</h3>
	<hr/>
Send a text to the Shopping List number. The body of the text should have the item that you want to purchase. One item at a time.<br/>
	<hr/>
If you are an admin, then you can invite someone to use this service by sending a text that looks like this: #invite Jimmy John 8125551212 <br/><br/>
Obviously you should replace Jimmy John with the person's real name (first name & last name only). You should also replace 8125551212 with a real mobile phone number.<br/>

{% endblock %}